body {
    background-color: #f8f9fa;
}

.banner {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.text-primary {
    color: #26763E !important; /* Tu verde corporativo */
}
.btn-primary {
    background-color: #26763E;
    border-color: #26763E;
}
.btn-primary:hover {
    background-color: #216033;
    border-color: #216033;
}