body {
    background-color: #f8f9fa; /* Fondo gris claro */
}

.profile-card {
    border: none;
    border-radius: 1rem;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: -85px; /* Saca la imagen un poco por encima de la tarjeta */
    background-color: #fff;
}

/* Colores de tus botones */
.btn-primary {
    background-color: #26763E;
    border-color: #26763E;
}
.btn-primary:hover {
    background-color: #216033;
    border-color: #216033;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
}